.btn {
    width: 28rem;
    height: 5.6rem;
    padding: 1.9rem 5.5rem;
    border-radius: 2rem;
    background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
